html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: whitesmoke;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: black;
  font-family: "Markazi Text", serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  font-size: 25px;
  text-decoration: none;
}

a:hover {
  color: red;
}

h1{
	font-size: 30px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 36px;
}

h5{
	font-size: 20px;
	line-height: 0;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

/*^^^^^^^^^Global^^^^^^^^^^^*/

.index header{
	display: none;
}

.four-film-flex {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  height: 900px;
}

.two-film-flex {
  display: flex;
  flex: 10;
  overflow: hidden;
}

.center-text {
  flex: 1;
  transition: flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.center-text .hidden-row {
  display: flex;
  width: 25%;
  justify-content: space-between;
  font-family: "Permanent Marker", cursive;
}

.center-text:hover {
  flex: 2;
}

.film-card {
  flex: 1;
  transition: flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  overflow: hidden;
  position: relative;
  -moz-box-shadow:    inset 60px 30px 110px black;
  -webkit-box-shadow: inset 60px 30px 110px black;
  box-shadow:         inset 60px 30px 110px black;
}

.four-film-flex .card2,
.four-film-flex .card4 {
  right: 0px;
  -moz-box-shadow:    inset -110px 50px 110px black;
  -webkit-box-shadow: inset -110px 50px 110px black;
  box-shadow:         inset -110px 50px 110px black;
}


.film-card:hover {
  flex: 3;
}

.four-film-flex .film-card img {
  z-index: -1;
  position: absolute;
  filter: grayscale(100%);
  transition: filter 0.7s;
}

.four-film-flex .film-card:hover > img {
  filter: grayscale(0);
  transition: filter 0.7s;
}

.four-film-flex .film-card a {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.four-film-flex .two-film-flex .card1 a,
.four-film-flex .card3 a {
  align-items: flex-start;
  opacity: 0;
  transform: translateX(-100%);
}

.four-film-flex .card1:hover > a,
.four-film-flex .card3:hover > a {
  align-items: flex-start;
  opacity: 1;
  transform: translateX(5%);
  transition: transform 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    opacity 1.5s;
}

.four-film-flex .card2 a,
.four-film-flex .card4 a {
  align-items: flex-end;
  transform: translateX(100%);
  opacity: 0;

}

.four-film-flex .card2:hover > a,
.four-film-flex .card4:hover > a {
  align-items: flex-end;
  opacity: 1;
  transform: translateX(-5%);
  transition: transform 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    opacity 2s;
}

.four-film-flex .card2 img,
.four-film-flex .card4 img {
  right: 0px;
}

/*^^^^^^^^Index^^^^^^^^^^^^*/

header nav > *{
	font-family: "Permanent Marker", cursive;
	font-size: 16px;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 30px 0;
}
header nav{
	display: flex;
	justify-content: space-around;
	width: 50%;
	overflow: hidden;
}

header nav .dropdown .dropover{
	position: relative;
}

header nav .dropdown .dropdown-content{
	position: absolute;
	display: none;
}

header nav .dropdown:hover > .dropdown-content{
	display: flex;
	flex-direction: column;
}

header nav .dropdown:hover > .dropover{
	color: red;
}

/*^^^^^^^^Nav bar ^^^^^^^^^^^*/

.embedded .theater{
	display: flex;
	margin-top: 75px;
}

.embedded .theater .synopsis{
	width: 300px;
	margin-left: 20px;
}

.embedded .theater .synopsis p{
	font-size: 20px;
}
