html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	color: whitesmoke;
	vertical-align: baseline;
}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
    box-sizing: border-box;
}

a{
	text-decoration: none;
}

.container{
	margin: 0 auto;
	width: 1000px;
}

.four-film-flex{
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	height: 900px;
}

.two-film-flex{
	display: flex;
	flex: 10;
	overflow: hidden;
}

.center-text{
	flex:1;
	transition:
	flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
	background 0.2s;
}

.center-text:hover{
	flex: 2;
}

.film-card{
	flex: 1;
	transition:
		flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
		background 0.2s;
	border: red solid 1px;
}

.film-card:hover{
	flex: 3;
}

.card1{
	background-image: url("img/IThoughtYoudBeGone.jpg") ;
	background-size: cover;
}

.card2{
	background: url("img/Guiltyshoes.jpg") no-repeat center center;
	background-size: cover;
}

.card3{
	background: url("img/WereAllZombies.jpg") no-repeat center center;
	background-size: cover;
}

.card4{
	background: url("img/BeingHuman.jpg") no-repeat center center;
	background-size: cover;
}